<h4>Internal server error - refreshing the page will make the error disappear</h4>
<ng-container *ngIf="error">
    <h5 class="text-danger">Error: {{ error.message }}</h5>
    <p class="font-weght-bold">Note: If you are seeing this, then angular is probably not to blame</p>
    <p>What to do next?</p>
    <ol>
        <li>Open chrome dev-tools! Check the failing request in <b>network</b> tab</li>
        <li>Examine the request URL - what endpoint are you requesting?</li>
        <li>Reproduce the problem in Postman</li>
    </ol>
    <p class="font-weight: bold;">Following is the stack trace -
        the first few lines will tell you which line of code caused the issue
        in the API</p>
    <code class="mt-5" style="background-color:whitesmoke">
    {{ error.details }}
</code>
</ng-container>